In [1]:
from config import username, password, port
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
#Create the engine between kernel and Postgres Database
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')

In [3]:
df = pd.read_csv('Resources/cleanPokemon.csv').drop(columns={'Unnamed: 0'})
df

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,717,Yveltal,Dark Flying,Dark,Flying,126,131,95,131,98,99,680,6
774,718,Zygarde,Dragon Ground,Dragon,Ground,108,100,121,81,95,95,600,6
775,719,Diancie,Rock Fairy,Rock,Fairy,50,100,150,100,150,50,600,6
776,720,Hoopa,Psychic Ghost,Psychic,Ghost,80,110,60,150,130,70,600,6
777,721,Volcanion,Fire Water,Fire,Water,80,110,120,130,90,70,600,6

In [ ]:
df['Type'].unique()

In [4]:
#Reading dataframe into sql
df.to_sql(name = 'Pokemon', con=engine, index=False, if_exists='replace')

In [5]:
#Reading the table inside of the newly created Pokemon table
PokeTable = pd.read_sql_table('Pokemon', engine)
PokeTable

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,None,None,39,52,43,60,50,65,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,717,Yveltal,Dark Flying,Dark,Flying,126,131,95,131,98,99,680,6
774,718,Zygarde,Dragon Ground,Dragon,Ground,108,100,121,81,95,95,600,6
775,719,Diancie,Rock Fairy,Rock,Fairy,50,100,150,100,150,50,600,6
776,720,Hoopa,Psychic Ghost,Psychic,Ghost,80,110,60,150,130,70,600,6
777,721,Volcanion,Fire Water,Fire,Water,80,110,120,130,90,70,600,6

In [6]:
df.keys()

Index(['id', 'Name', 'Type', 'Type1', 'Type2', 'HP', 'Atk', 'Def', 'SpAk',
       'SpDf', 'Spd', 'Total', 'Generation'],
      dtype='object')

In [9]:
#This section runs queries from the kernel using a combination of SQL query language inside 
#Python objects
query = '''
SELECT * FROM "Pokemon"
WHERE "Type" = 'FIRE Flying' OR "Type1" = 'Fire' OR "Type2" = 'Fire'
'''
PokeQuery = pd.read_sql_query(query, engine)
PokeQuery.head()

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,6,Charizard,Fire Flying,Fire,Flying,78,84,78,109,85,100,534,1
1,6,Mega Charizard X,Fire Dragon,Fire,Dragon,78,130,111,130,85,100,634,1
2,6,Mega Charizard Y,Fire Flying,Fire,Flying,78,104,78,159,115,100,634,1
3,146,Moltres,Fire Flying,Fire,Flying,90,100,90,125,85,90,580,1
4,219,Magcargo,Fire Rock,Fire,Rock,50,50,120,80,80,30,410,2

In [14]:
#Second dataset that I just cleaned. 
df2 = pd.read_csv('Resources/cleanPokemon2.csv')
df2.head()

,id,Name,Type,Type 1,Type 2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,Fire,NaN,39,52,43,60,50,65,309,1,False

In [ ]:
#TODO: This section combines df and df2 while dropping all duplicate values 
#PROBLEM: The concat function appends data whereas the Mergedf should only have data that is not
#duplicated. Must figure out a better solution- either a merge or some other method

# Mergedf = pd.concat([df,df2], ignore_index=False).drop_duplicates().reset_index(drop=True)
# Mergedf

In [ ]:
#This section installs PokeBase, an API that stores much more data to finish this project
!pip install pokebase

In [ ]:
#Importing pokebase 
import pokebase as pb

In [ ]:
#This section displays all water-type moves in the Pokemon franchise
#TODO: Find a way to display all names, types, stats, generation and legendary status of all pokemon
TYPE = 'water'

type_moves = pb.type_(TYPE).moves

for move in type_moves:
    print(move.name)

In [ ]:
#This is the last point in the code since it disposes the connection to the database
engine.dispose()