In [1]:
from config import username, password, port
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
#Create the engine between kernel and Postgres Database
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')

In [7]:
#Second dataset that I just cleaned. 
df = pd.read_csv('Resources/cleanPokemon3.csv')
df.rename(columns={'Number': 'id'}, inplace=True)
df = df[['id', 'Name', 'Type', 'Type1', 'Type2', 'HP', 'Atk', 'Def', 'SpAk', 'SpDf', 'Spd', 'Total', 'Generation', 'Legendary']]
df.head()
#df2[df2['Legendary'] == True]

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,Fire,NaN,39,52,43,60,50,65,309,1,False

In [4]:
df['Type'].unique()

array(['Grass Poison', 'Fire ', 'Fire Flying', 'Fire Dragon', 'Water ',
       'Bug ', 'Bug Flying', 'Bug Poison', 'Normal Flying', 'Normal ',
       'Poison ', 'Electric ', 'Ground ', 'Poison Ground', 'Fairy ',
       'Normal Fairy', 'Poison Flying', 'Bug Grass', 'Fighting ',
       'Water Fighting', 'Psychic ', 'Water Poison', 'Rock Ground',
       'Water Psychic', 'Electric Steel', 'Water Ice', 'Ghost Poison',
       'Grass Psychic', 'Ground Rock', 'Grass ', 'Psychic Fairy',
       'Ice Psychic', 'Water Flying', 'Water Dark', 'Rock Water',
       'Rock Flying', 'Ice Flying', 'Electric Flying', 'Dragon ',
       'Dragon Flying', 'Psychic Fighting', 'Water Electric',
       'Fairy Flying', 'Psychic Flying', 'Electric Dragon', 'Water Fairy',
       'Rock ', 'Grass Flying', 'Water Ground', 'Dark ', 'Dark Flying',
       'Ghost ', 'Normal Psychic', 'Bug Steel', 'Ground Flying',
       'Steel Ground', 'Bug Rock', 'Bug Fighting', 'Dark Ice',
       'Fire Rock', 'Ice Ground', 'Water Rock', 'Steel Flying',
       'Dark Fire', 'Water Dragon', 'Rock Dark', 'Psychic Grass',
       'Grass Dragon', 'Fire Fighting', 'Water Grass', 'Grass Dark',
       'Bug Water', 'Grass Fighting', 'Bug Ground', 'Bug Ghost',
       'Dark Ghost', 'Steel Fairy', 'Steel Rock', 'Steel ',
       'Fighting Psychic', 'Fire Ground', 'Ground Dragon', 'Dragon Fairy',
       'Rock Psychic', 'Ground Psychic', 'Rock Grass', 'Rock Bug', 'Ice ',
       'Ice Water', 'Steel Psychic', 'Dragon Psychic', 'Ground Fire',
       'Grass Ground', 'Water Steel', 'Normal Water', 'Rock Steel',
       'Ghost Flying', 'Normal Fighting', 'Poison Dark', 'Ghost Dark',
       'Dragon Ground', 'Fighting Steel', 'Poison Bug', 'Poison Fighting',
       'Grass Ice', 'Ice Ghost', 'Electric Ghost', 'Electric Fire',
       'Electric Water', 'Electric Ice', 'Electric Grass', 'Steel Dragon',
       'Fire Steel', 'Ghost Dragon', 'Psychic Fire', 'Ground Steel',
       'Grass Fairy', 'Ground Dark', 'Fire Psychic', 'Dark Fighting',
       'Normal Grass', 'Water Ghost', 'Bug Electric', 'Grass Steel',
       'Ghost Fire', 'Ground Electric', 'Ground Ghost', 'Dark Steel',
       'Dark Dragon', 'Bug Fire', 'Steel Fighting', 'Rock Fighting',
       'Flying ', 'Dragon Fire', 'Dragon Electric', 'Dragon Ice',
       'Normal Ground', 'Fire Normal', 'Fighting Dark', 'Steel Ghost',
       'Dark Psychic', 'Poison Water', 'Poison Dragon', 'Electric Normal',
       'Rock Dragon', 'Rock Ice', 'Fighting Flying', 'Electric Fairy',
       'Rock Fairy', 'Ghost Grass', 'Flying Dragon', 'Psychic Ghost',
       'Psychic Dark', 'Fire Water', 'Grass Ghost', 'Fighting Ice',
       'Bug Fairy', 'Water Bug', 'Poison Fire', 'Ghost Ground',
       'Ghost Fairy', 'Normal Dragon', 'Dragon Fighting', 'Psychic Steel',
       'Rock Poison', 'Psychic Dragon', 'Fighting Ghost', 'Fire Ghost'],
      dtype=object)

In [8]:
#Reading dataframe into sql
df.to_sql(name = 'Pokemon', con=engine, index=False, if_exists='replace')

In [9]:
#Reading the table inside of the newly created Pokemon table
PokeTable = pd.read_sql_table('Pokemon', engine)
PokeTable

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1,False
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1,False
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1,False
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1,False
4,4,Charmander,Fire,Fire,None,39,52,43,60,50,65,309,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,803,Poipole,Poison,Poison,None,67,73,67,73,67,73,420,7,False
890,804,Naganadel,Poison Dragon,Poison,Dragon,73,73,73,127,73,121,540,7,False
891,805,Stakataka,Rock Steel,Rock,Steel,61,131,211,53,101,13,570,7,False
892,806,Blacephalon,Fire Ghost,Fire,Ghost,53,127,53,151,79,107,570,7,False
893,807,Zenaora,Electric,Electric,None,88,112,75,102,80,143,600,7,False

In [ ]:
df.keys()

In [ ]:
#This section runs queries from the kernel using a combination of SQL query language inside 
#Python objects
query = '''
SELECT * FROM "Pokemon"
WHERE "Type" = 'FIRE Flying' OR "Type1" = 'Fire' OR "Type2" = 'Fire'
'''
PokeQuery = pd.read_sql_query(query, engine)
PokeQuery.head()

In [ ]:
#TODO: This section combines df and df2 while dropping all duplicate values 
#PROBLEM: The concat function appends data whereas the Mergedf should only have data that is not
#duplicated. Must figure out a better solution- either a merge or some other method

# Mergedf = pd.concat([df,df2], ignore_index=False).drop_duplicates().reset_index(drop=True)
# Mergedf

In [ ]:
#This section installs PokeBase, an API that stores much more data to finish this project
#!pip install pokebase

In [ ]:
#Importing pokebase 
#import pokebase as pb

In [ ]:
#This section displays all water-type moves in the Pokemon franchise
#TODO: Find a way to display all names, types, stats, generation and legendary status of all pokemon
#TYPE = 'water'

#type_moves = pb.type_(TYPE).moves

#for move in type_moves:
    #print(move.name)

In [ ]:
#This is the last point in the code since it disposes the connection to the database
engine.dispose()