In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, Table, Column, text, Integer, String, inspect, MetaData
from sqlalchemy.orm import Session

In [2]:
from config import username, password, port
import psycopg2

In [10]:
#Created Database engine
dbschema = 'public'
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')
connection = engine.raw_connection()
meta = MetaData(bind=engine, schema='public')

In [8]:
#Creating the SQL Table
pokemon = Table(
    'Pokemon', meta,
    Column('id', Integer, primary_key=True),
    Column('Name', String),
    Column('Type', String),
    Column('Type1', String),
    Column('Type2', String),
    Column('HP', Integer),
    Column('Atk', Integer),
    Column('Def', Integer),
    Column('SpAk', Integer),
    Column('SpDf', Integer),
    Column('Spd', Integer),
    Column('Total', Integer),
    Column('Generation', Integer)
)
meta.create_all(engine)

In [11]:
#Printing the table names in the database -- Check #1
from sqlalchemy.ext.automap import automap_base
TableNames = engine.table_names()
Base = automap_base()
print(Base.classes.keys())
print(TableNames)

[]
['Pokemon']

In [13]:
#Reading in data for the table insertion
file = 'Resources/cleanPokemon.csv'
df = pd.read_csv(file).drop(columns={'Unnamed: 0'})
df.head()

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,309,1

In [14]:
#bulk inserting dataframe into SQL table
df.to_sql(name='Pokemon', con=engine, index=False, if_exists='replace', schema='public')

In [15]:
session = Session(engine)