In [1]:
import pandas as pd
import numpy as np
filepath = './Resources/cleanPokemon4.csv'

In [2]:
df = pd.read_csv(filepath)
df

,#,Number,Name,Type,Type1,Type2,Total,HP,Atk,Def,SpAk,SpDf,Spd,Generation,Legendary,MegaEvolution,FinalEvolution
0,0,1,Bulbasaur,Grass Poison,Grass,Poison,318.0,45.0,49.0,49.0,65.0,65.0,45.0,1.0,False,False,False
1,1,2,Ivysaur,Grass Poison,Grass,Poison,405.0,60.0,62.0,63.0,80.0,80.0,60.0,1.0,False,False,False
2,2,3,Venusaur,Grass Poison,Grass,Poison,525.0,80.0,82.0,83.0,100.0,100.0,80.0,1.0,False,False,True
3,3,3,Mega Venusaur,Grass Poison,Grass,Poison,625.0,80.0,100.0,123.0,122.0,120.0,80.0,1.0,False,True,True
4,4,4,Charmander,Fire,Fire,NaN,309.0,39.0,52.0,43.0,60.0,50.0,65.0,1.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,1029,896,Glastrier,Ice,Ice,NaN,580.0,100.0,145.0,130.0,65.0,110.0,30.0,8.0,True,False,True
1030,1030,897,Spectrier,Ghost,Ghost,NaN,580.0,100.0,65.0,60.0,145.0,80.0,130.0,8.0,True,False,True
1031,1031,898,Calyrex,Psychic Grass,Psychic,Grass,500.0,100.0,80.0,80.0,80.0,80.0,80.0,8.0,True,False,True
1032,1032,898,Calyrex Ice Rider,Psychic Ice,Psychic,Ice,680.0,100.0,165.0,150.0,85.0,130.0,50.0,8.0,True,False,True
1033,1033,898,Calyrex Shadow Rider,Psychic Ghost,Psychic,Ghost,680.0,100.0,85.0,80.0,165.0,100.0,150.0,8.0,True,False,True

In [18]:
datatypes = dict(df.dtypes)
print(datatypes)

{'#': dtype('int64'), 'Number': dtype('int64'), 'Name': dtype('O'), 'Type': dtype('O'), 'Type1': dtype('O'), 'Type2': dtype('O'), 'Total': dtype('float64'), 'HP': dtype('float64'), 'Atk': dtype('float64'), 'Def': dtype('float64'), 'SpAk': dtype('float64'), 'SpDf': dtype('float64'), 'Spd': dtype('float64'), 'Generation': dtype('float64'), 'Legendary': dtype('bool'), 'MegaEvolution': dtype('bool'), 'FinalEvolution': dtype('bool')}

In [23]:
df = df[['Total', 'HP', 'Atk', 'Def', 'SpAk', 'SpDf', 'Spd']]/100
df.corr(method='pearson')

       Total  HP  Atk  Def  SpAk  SpDf  Spd
Total      1   0    0    0     1     0    0
HP         0   1    0   -0    -0     0   -0
Atk        0   0    1    0    -0    -0    0
Def        0  -0    0    1    -0     0   -1
SpAk       1  -0   -0   -0     1     0    0
SpDf       0   0   -0    0     0     1   -0
Spd        0  -0    0   -1     0    -0    1

In [3]:
Gens = df['Generation']

In [9]:
Generations = pd.DataFrame(Gens,columns=['Generation'])
df.drop(columns=['Generation'])
Generations = Generations.astype(float).rename(columns={'Generation':'New'})
pd.options.display.float_format = '{:,.0f}'.format
Generations

      New
0       1
1       1
2       1
3       1
4       1
...   ...
1029    8
1030    8
1031    8
1032    8
1033    8

[1034 rows x 1 columns]

In [13]:
results = pd.concat([df, Generations], axis=1)
results.drop(columns=['Generation'], inplace=True)
results

,#,Number,Name,Type,Type1,Type2,Total,HP,Atk,Def,SpAk,SpDf,Spd,Legendary,MegaEvolution,FinalEvolution,New
0,0,1,Bulbasaur,Grass Poison,Grass,Poison,318,45,49,49,65,65,45,False,False,False,1
1,1,2,Ivysaur,Grass Poison,Grass,Poison,405,60,62,63,80,80,60,False,False,False,1
2,2,3,Venusaur,Grass Poison,Grass,Poison,525,80,82,83,100,100,80,False,False,True,1
3,3,3,Mega Venusaur,Grass Poison,Grass,Poison,625,80,100,123,122,120,80,False,True,True,1
4,4,4,Charmander,Fire,Fire,NaN,309,39,52,43,60,50,65,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,1029,896,Glastrier,Ice,Ice,NaN,580,100,145,130,65,110,30,True,False,True,8
1030,1030,897,Spectrier,Ghost,Ghost,NaN,580,100,65,60,145,80,130,True,False,True,8
1031,1031,898,Calyrex,Psychic Grass,Psychic,Grass,500,100,80,80,80,80,80,True,False,True,8
1032,1032,898,Calyrex Ice Rider,Psychic Ice,Psychic,Ice,680,100,165,150,85,130,50,True,False,True,8
1033,1033,898,Calyrex Shadow Rider,Psychic Ghost,Psychic,Ghost,680,100,85,80,165,100,150,True,False,True,8

# Creating the Neural Network with Keras

In [ ]:
from numpy.random import seed
seed(1)

In [15]:
PokeNet = results.groupby(['Name', 'Type', 'Type1','Type2', 'Total', 'HP', 'Atk', 'Def', 'SpAk', 'SpDf','Spd', "MegaEvolution", 
                      'FinalEvolution', 'Legendary'])['New']
#PokeNet['Generation'].value_counts()

In [16]:
PokeNet

In [17]:
PokeNet= pd.get_dummies(PokeNet, columns=['Name', 'Type', 'Type1', 'Type2', 'Total', 'HP', 'Atk', 'Def','SpAk','SpDf','Spd'])
PokeNet

ValueError: cannot copy sequence with size 1034 to array axis with dimension 548

# Data Pre-processing

In [ ]:
X = PokeNet.drop(columns=['Generation'])
y = PokeNet['Generation'].values.reshape(-1,1)
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [ ]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [ ]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create a Single-layer Model

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(units=548, activation='relu', input_dim=1517))
model.add(Dense(units=8, activation='softmax'))

# Compile the Model

In [ ]:
model.compile(optimizer='adam',
              loss = 'categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
model.summary()

In [ ]:
history = model.fit(
    X_train_scaled,
    y_train_categorical,
    validation_data = (X_test_scaled, y_test_categorical),
    epochs=10,
    shuffle=True,
    verbose=2)

In [ ]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, accuracy: {model_accuracy}")

In [ ]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")