In [1]:
from config import username, password, port
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
#Create the engine between kernel and Postgres Database
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')

In [6]:
#Second dataset that I just cleaned. 
df = pd.read_csv('Resources/cleanPokemon3.csv')
df.rename(columns={'Number': 'id'}, inplace=True)
df = df[['id', 'Name', 'Type', 'Type1', 'Type2', 'HP', 'Atk', 'Def', 'SpAk', 'SpDf', 'Spd', 'Total', 'Generation', 'Legendary',
        'MegaEvolution', 'FinalEvolution']]
df.head()
#df2[df2['Legendary'] == True]

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary,MegaEvolution,FinalEvolution
0,1,Bulbasaur,Grass Poison,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,1.0,False,False,False
1,2,Ivysaur,Grass Poison,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,1.0,False,False,False
2,3,Venusaur,Grass Poison,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,1.0,False,False,True
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80.0,100.0,123.0,122.0,120.0,80.0,625.0,1.0,False,True,True
4,4,Charmander,Fire,Fire,NaN,39.0,52.0,43.0,60.0,50.0,65.0,309.0,1.0,False,False,False

In [ ]:
#All types have text trimmed (TRIM) in Excel
df['Type'].unique()

In [7]:
#Reading dataframe into sql
df.to_sql(name = 'Pokemon', con=engine, index=False, if_exists='replace')

In [5]:
#Reading the table inside of the newly created Pokemon table
PokeTable = pd.read_sql_table('Pokemon', engine)
PokeTable

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary,MegaEvolution,FinalEvolution
0,1,Bulbasaur,Grass Poison,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,1.0,False,False,False
1,2,Ivysaur,Grass Poison,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,1.0,False,False,False
2,3,Venusaur,Grass Poison,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,1.0,False,False,True
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80.0,100.0,123.0,122.0,120.0,80.0,625.0,1.0,False,True,True
4,4,Charmander,Fire,Fire,None,39.0,52.0,43.0,60.0,50.0,65.0,309.0,1.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,896,Glastrier,Ice,Ice,None,100.0,145.0,130.0,65.0,110.0,30.0,580.0,8.0,True,False,True
1028,897,Spectrier,Ghost,Ghost,None,100.0,65.0,60.0,145.0,80.0,130.0,580.0,8.0,True,False,True
1029,898,Calyrex,Psychic Grass,Psychic,Grass,100.0,80.0,80.0,80.0,80.0,80.0,500.0,8.0,True,False,True
1030,898,Calyrex Ice Rider,Psychic Ice,Psychic,Ice,100.0,165.0,150.0,85.0,130.0,50.0,680.0,8.0,True,False,True
1031,898,Calyrex Shadow Rider,Psychic Ghost,Psychic,Ghost,100.0,85.0,80.0,165.0,100.0,150.0,680.0,8.0,True,False,True

In [ ]:
df.keys()

In [ ]:
#This section runs queries from the kernel using a combination of SQL query language inside 
#Python objects
query = '''
SELECT * FROM "Pokemon"
WHERE "Name" = 'Venusaur' OR "Name" = 'Charizard' OR "Name" = 'Blastoise'
OR "Name" = 'Meganium' OR "Name" = 'Typhlosion' OR "Name" = 'Feraligatr'
OR "Name" = 'Sceptile' OR "Name" = 'Blaziken' OR "Name" = 'Swampert' 
OR "Name" = 'Torterra' OR "Name" = 'Infernape' OR "Name" = 'Empoleon'
OR "Name" = 'Serperior' OR "Name" = 'Emboar' OR "Name" = 'Samurott'
OR "Name" = 'Chesnaught' OR "Name" = 'Delphox' OR "Name" = 'Greninja'
OR "Name" = 'Decidueye' OR "Name" = 'Incineroar' OR "Name" = 'Primarina';
'''
Starters = pd.read_sql_query(query, engine)
Starters

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Creating the labels and data to input into the chart
labels = ['Grass', 'Fire', 'Water']
grass_totals = [525, 525, 530, 525, 528, 530, 530]
fire_totals = [534,534,530,534,528,534,530]
water_totals = [530,530,535,530,528,530,530]

In [ ]:
#Setting the chart parameters
x = np.arange(len(labels))
width = .25

In [ ]:
#Setting position of the bars
r1 = np.arange(len(grass_totals))
r2 = [x + width for x in r1]
r3 = [x + width for x in r2]

In [ ]:
#Creating the bar chart 

#Creating the bars
plt.bar(r1, grass_totals, color='green', width=width, label='Grass')
plt.bar(r2, fire_totals, color ='red', width=width, label='Fire')
plt.bar(r3, water_totals, color='blue', width=width, label='Water')

#Creating the title and axis titles
plt.xlabel('Types', fontweight='bold')
plt.ylabel('Total Stats', fontweight='bold')
plt.title('Stat totals by Starter type and generation')

#Positioning the bars
plt.xticks([r + width for r in range(len(grass_totals))], ['Gen1', 'Gen2', 'Gen3', 'Gen4', 'Gen5', 'Gen6', 'Gen7'])
plt.ylim([500, 540]) #Setting the ylimits of the chart
#Adding a legend, tight layout and showing the chart
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
#TODO: This section combines df and df2 while dropping all duplicate values 
#PROBLEM: The concat function appends data whereas the Mergedf should only have data that is not
#duplicated. Must figure out a better solution- either a merge or some other method

# Mergedf = pd.concat([df,df2], ignore_index=False).drop_duplicates().reset_index(drop=True)
# Mergedf

In [ ]:
#This section installs PokeBase, an API that stores much more data to finish this project
#!pip install pokebase

In [ ]:
#Importing pokebase 
#import pokebase as pb

In [ ]:
#This section displays all water-type moves in the Pokemon franchise
#TODO: Find a way to display all names, types, stats, generation and legendary status of all pokemon
#TYPE = 'water'

#type_moves = pb.type_(TYPE).moves

#for move in type_moves:
    #print(move.name)

In [ ]:
#This is the last point in the code since it disposes the connection to the database
engine.dispose()