In [1]:
from config import username, password, port
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
#Create the engine between kernel and Postgres Database
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')

In [11]:
#Second dataset that I just cleaned. 
df = pd.read_csv('Resources/cleanPokemon4.csv')
df.rename(columns={'Number': 'id'}, inplace=True)
df = df[['#','id', 'Name', 'Type', 'Type1', 'Type2', 'HP', 'Atk', 'Def', 'SpAk', 'SpDf', 'Spd', 'Total', 'Generation', 'Legendary',
        'MegaEvolution', 'FinalEvolution']]
df.head()
#df2[df2['Legendary'] == True]

,#,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Legendary,MegaEvolution,FinalEvolution
0,0,1,Bulbasaur,Grass Poison,Grass,Poison,45.0,49.0,49.0,65.0,65.0,45.0,318.0,1.0,False,False,False
1,1,2,Ivysaur,Grass Poison,Grass,Poison,60.0,62.0,63.0,80.0,80.0,60.0,405.0,1.0,False,False,False
2,2,3,Venusaur,Grass Poison,Grass,Poison,80.0,82.0,83.0,100.0,100.0,80.0,525.0,1.0,False,False,True
3,3,3,Mega Venusaur,Grass Poison,Grass,Poison,80.0,100.0,123.0,122.0,120.0,80.0,625.0,1.0,False,True,True
4,4,4,Charmander,Fire,Fire,NaN,39.0,52.0,43.0,60.0,50.0,65.0,309.0,1.0,False,False,False

In [ ]:
#All types have text trimmed (TRIM) in Excel
df['Type'].unique()

In [12]:
#Reading dataframe into sql
df.to_sql(name = 'Pokemon', con=engine, index=False, if_exists='replace')

In [ ]:
#Reading the table inside of the newly created Pokemon table
PokeTable = pd.read_sql_table('Pokemon', engine)
PokeTable

In [ ]:
df.keys()

In [ ]:
#This section runs queries from the kernel using a combination of SQL query language inside 
#Python objects
query = '''
SELECT "Name", "Total", "Generation" FROM "Pokemon"
WHERE "Name" = 'Venusaur' OR "Name" = 'Charizard' OR "Name" = 'Blastoise'
OR "Name" = 'Meganium' OR "Name" = 'Typhlosion' OR "Name" = 'Feraligatr'
OR "Name" = 'Sceptile' OR "Name" = 'Blaziken' OR "Name" = 'Swampert' 
OR "Name" = 'Torterra' OR "Name" = 'Infernape' OR "Name" = 'Empoleon'
OR "Name" = 'Serperior' OR "Name" = 'Emboar' OR "Name" = 'Samurott'
OR "Name" = 'Chesnaught' OR "Name" = 'Delphox' OR "Name" = 'Greninja'
OR "Name" = 'Decidueye' OR "Name" = 'Incineroar' OR "Name" = 'Primarina'
OR "Name" = 'Rillaboom' OR "Name" = 'Cinderace' OR "Name" = 'Inteleon';
'''
Starters = pd.read_sql_query(query, engine)
Starters

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Creating the labels and data to input into the chart
labels = ['Grass', 'Fire', 'Water']
grass_totals = [525, 525, 530, 525, 528, 530, 530, 530]
fire_totals = [534,534,530,534,528,534,530, 530]
water_totals = [530, 530, 535, 530, 528, 530, 530, 530]

In [ ]:
#Setting the chart parameters
x = np.arange(len(labels))
width = .25

In [ ]:
#Setting position of the bars
r1 = np.arange(len(grass_totals))
r2 = [x + width for x in r1]
r3 = [x + width for x in r2]

In [ ]:
#Creating the bar chart 

#Creating the bars
plt.bar(r1, grass_totals, color='green', width=width, label='Grass')
plt.bar(r2, fire_totals, color ='red', width=width, label='Fire')
plt.bar(r3, water_totals, color='blue', width=width, label='Water')

#Creating the title and axis titles
plt.xlabel('Types', fontweight='bold')
plt.ylabel('Total Stats', fontweight='bold')
plt.title('Stat totals by Starter type and generation',fontweight='bold')

#Positioning the bars
plt.xticks([r + width for r in range(len(grass_totals))], ['Gen1', 'Gen2', 'Gen3', 'Gen4', 'Gen5', 'Gen6', 'Gen7', 'Gen8'])
plt.ylim([500, 550]) #Setting the ylimits of the chart
#Adding a legend, tight layout and showing the chart
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
#This cell and the three below it show the mean Total stats of Final Evolution Pokemon that have the Psychic, Fighting, 
#Dark  and Dragon types respectively. 

Psychics = PokeTable[(PokeTable['Type'] == 'Psychic') | (PokeTable['Type1'] == 'Psychic') 
                     | (PokeTable['Type2'] == 'Psychic') & (PokeTable['FinalEvolution'] == True)].reset_index(drop=True)
Psychics_total = Psychics['Total']
Psychics_total.mean()

In [ ]:
Dark = PokeTable[(PokeTable['Type'] == 'Dark') | (PokeTable['Type1'] == 'Dark') 
                     | (PokeTable['Type2'] == 'Dark') & (PokeTable['FinalEvolution'] == True)].reset_index(drop=True)
Dark_total = Dark['Total']
Dark_total.mean()

In [ ]:
Fighters = PokeTable[(PokeTable['Type'] == 'Fighting') | (PokeTable['Type1'] == 'Fighting') 
                     | (PokeTable['Type2'] == 'Fighting') & (PokeTable['FinalEvolution'] == True)].reset_index(drop=True)
Fighters_total = Fighters['Total']
Fighters_total.mean()

In [ ]:
Dragons = PokeTable[(PokeTable['Type'] == 'Dragon') | (PokeTable['Type1'] == 'Dragon') 
                     | (PokeTable['Type2'] == 'Dragon') & (PokeTable['FinalEvolution'] == True)].reset_index(drop=True)
Dragons_total = Dragons['Total']
Dragons_total.mean()

In [ ]:
Types = {'Fire', 'Water', 'Grass', 'Normal', 'Fighting', 'Flying', 'Bug', 'Rock', 'Ground', 'Psychic', 'Ghost', 'Electric', 
         'Ice', 'Poison', 'Dragon','Dark', 'Steel', 'Fairy'}

Dragon = ['Dragon']

DragonDF = PokeTable.loc[PokeTable['Type'].isin(Dragon) | PokeTable['Type1'].isin(Dragon) | PokeTable['Type2'].isin(Dragon)]
DragonDF

In [ ]:
for index, row in PokeTable.iterrows():
        print(row['Type'], row['Type1'], row['Type2'])

In [ ]:
#This section installs PokeBase, an API that stores much more data to finish this project
#!pip install pokebase

In [ ]:
#Importing pokebase 
#import pokebase as pb

In [ ]:
#This section displays all water-type moves in the Pokemon franchise
#TODO: Find a way to display all names, types, stats, generation and legendary status of all pokemon
#TYPE = 'water'

#type_moves = pb.type_(TYPE).moves

#for move in type_moves:
    #print(move.name)

In [13]:
#This is the last point in the code since it disposes the connection to the database
engine.dispose()