In [1]:
from config import username, password, port
import pandas as pd
import psycopg2
import sqlalchemy

In [2]:
#Create the engine between kernel and Postgres Database
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost:{port}/PokemonDB')

In [13]:
df = pd.read_csv('Resources/cleanPokemon.csv').drop(columns={'Unnamed: 0'})
df.head()

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,309,1

In [4]:
#Reading dataframe into sql
df.to_sql(name = 'Pokemon', con=engine, index=False, if_exists='replace')

In [5]:
PokeTable = pd.read_sql_table('Pokemon', engine)
PokeTable

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1
4,4,Charmander,Fire,None,None,39,52,43,60,50,65,309,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
773,717,Yveltal,Dark Flying,Dark,Flying,126,131,95,131,98,99,680,6
774,718,Zygarde,Dragon Ground,Dragon,Ground,108,100,121,81,95,95,600,6
775,719,Diancie,Rock Fairy,Rock,Fairy,50,100,150,100,150,50,600,6
776,720,Hoopa,Psychic Ghost,Psychic,Ghost,80,110,60,150,130,70,600,6
777,721,Volcanion,Fire Water,Fire,Water,80,110,120,130,90,70,600,6

In [6]:
df.keys()

Index(['id', 'Name', 'Type', 'Type1', 'Type2', 'HP', 'Atk', 'Def', 'SpAk',
       'SpDf', 'Spd', 'Total', 'Generation'],
      dtype='object')

In [14]:
query = '''
SELECT * FROM "Pokemon"
WHERE "Type" = 'Fire' OR "Type1" = 'Fire' OR "Type2" = 'Fire'
'''
PokeQuery = pd.read_sql_query(query, engine)
PokeQuery

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation
0,4,Charmander,Fire,None,None,39,52,43,60,50,65,309,1
1,5,Charmeleon,Fire,None,None,58,64,58,80,65,80,405,1
2,6,Charizard,Fire Flying,Fire,Flying,78,84,78,109,85,100,534,1
3,6,Mega Charizard X,Fire Dragon,Fire,Dragon,78,130,111,130,85,100,634,1
4,6,Mega Charizard Y,Fire Flying,Fire,Flying,78,104,78,159,115,100,634,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,662,Fletchinder,Fire Flying,Fire,Flying,62,73,55,56,52,84,382,6
57,663,Talonflame,Fire Flying,Fire,Flying,78,81,71,74,69,126,499,6
58,667,Litleo,Fire Normal,Fire,Normal,62,50,58,73,54,72,369,6
59,668,Pyroar,Fire Normal,Fire,Normal,86,68,72,109,66,106,507,6
60,721,Volcanion,Fire Water,Fire,Water,80,110,120,130,90,70,600,6

In [11]:
df2 = pd.read_csv('Resources/cleanPokemon2.csv')
df2

,id,Name,Type,Type 1,Type 2,Total,HP,Atk,Def,SpAk,SpDf,Spd,Generation,Legendary
0,1,Bulbasaur,Grass Poison,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass Poison,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass Poison,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass Poison,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock Fairy,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,Mega Diancie,Rock Fairy,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,Hoopa Confined,Psychic Ghost,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,Hoopa Unbound,Psychic Dark,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire Water,Fire,Water,600,80,110,120,130,90,70,6,True

In [20]:
Mergedf = pd.concat([df,df2], ignore_index=False).drop_duplicates().reset_index(drop=True)
Mergedf

,id,Name,Type,Type1,Type2,HP,Atk,Def,SpAk,SpDf,Spd,Total,Generation,Type 1,Type 2,Legendary
0,1,Bulbasaur,Grass Poison,Grass,Poison,45,49,49,65,65,45,318,1,NaN,NaN,NaN
1,2,Ivysaur,Grass Poison,Grass,Poison,60,62,63,80,80,60,405,1,NaN,NaN,NaN
2,3,Venusaur,Grass Poison,Grass,Poison,80,82,83,100,100,80,525,1,NaN,NaN,NaN
3,3,Mega Venusaur,Grass Poison,Grass,Poison,80,100,123,122,120,80,625,1,NaN,NaN,NaN
4,4,Charmander,Fire,NaN,NaN,39,52,43,60,50,65,309,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,719,Diancie,Rock Fairy,NaN,NaN,50,100,150,100,150,50,600,6,Rock,Fairy,True
1574,719,Mega Diancie,Rock Fairy,NaN,NaN,50,160,110,160,110,110,700,6,Rock,Fairy,True
1575,720,Hoopa Confined,Psychic Ghost,NaN,NaN,80,110,60,150,130,70,600,6,Psychic,Ghost,True
1576,720,Hoopa Unbound,Psychic Dark,NaN,NaN,80,160,60,170,130,80,680,6,Psychic,Dark,True
1577,721,Volcanion,Fire Water,NaN,NaN,80,110,120,130,90,70,600,6,Fire,Water,True

In [22]:
engine.dispose()